.main_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0.5rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;

}

.main_button:hover {
    background-color: #45a049;
}

.secondary_button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 0.5rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;

}

.secondary_button:hover {
    background-color: #0281ab;
}

/* Button with no background */
.ghost_button {
    background-color: transparent;
    color: black;
    border: 2px solid #008CBA;
    cursor: pointer;
    width: 100%;
}

.body {
    color: white;
    background-color: black;
    height: 200%;
    margin: 0 !important;
    padding: 0 !important;
    /* overflow: hidden; */
    page-break-after: always;
}

@media print {
    .no_print {
        display: none;
      }
      .secondary_button {
        display: none;
      }
      .main_button {
        display: none;
      }
      .body {
        color: black;
        background-color: transparent !important;
        margin: 0 !important;
        padding: 0 !important;
        height: max-content !important;
        /* overflow: hidden; */
      }

      .table {
        page-break-after: always;
      }
}